<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_gauge load_compass_url, :size => "400x300", :bgcolor => '34343a' %>
    </div>
    <div class="chart">
      <%= ziya_gauge load_minimeters_url, :size => "400x300", :bgcolor => '34343a' %>
    </div>  
  </div>
</center>
