<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_map load_map_1_url, :map_type => :us, :bgcolor => "7777aa", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_map load_map_2_url, :map_type => :world, :bgcolor => "6b7bcb", :size => "400x300" -%>
    </div>
  </div>
</center>