<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_chart bubble_1_chart_url, :bgcolor => "99aabb", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_chart bubble_2_chart_url, :bgcolor => "99aabb", :size => "400x300" -%>
    </div>
  </div>
</center>