<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_chart pie_1_chart_url, :bgcolor => "555566", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_chart pie_2_chart_url, :bgcolor => "4c5577", :size => "400x300" -%>
    </div>
  </div>
</center>