<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_chart image_column_1_chart_url, :bgcolor => "566069", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_chart image_column_2_chart_url, :bgcolor => "bccdbb", :size => "400x300" -%>
    </div>
  </div>
</center>