<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_chart area_1_chart_url, :bgcolor => "666666", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_chart area_2_chart_url, :bgcolor => "92a99f", :size => "400x300" -%>
    </div>
  </div>
</center>