<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_gauge load_thermo_url, :size => "400x300", :bgcolor => "404041" -%>
    </div>
    <div class="chart">
      <%= ziya_gauge load_signal_url, :size => "400x300", :bgcolor => "3B3434" -%>
    </div>  
  </div>
</center>