<center>
  <div class="charts">
    <div class="chart">
      <%= ziya_chart mixed_chart_1_chart_url, :bgcolor => "7777aa", :size => "400x300" -%>
    </div>

    <div class="chart">
      <%= ziya_chart mixed_chart_2_chart_url, :bgcolor => "bbbbaa", :size => "400x300" -%>
    </div>
  </div>
</center>